:root {
  /* primary */
  --color-primary-100: #dbeafe;
  --color-primary-300: #93c5fd;
  --color-primary-500: #3b82f6;
  --color-primary-700: #1d4ed8;
  --color-primary-900: #1e3a8a;

  /* gray */
  --color-gray-100: #f3f4f6;
  --color-gray-300: #d1d5db;
  --color-gray-500: #6b7280;
  --color-gray-700: #374151;
  --color-gray-900: #111827;
}
